body {
    background-color: rgb(229, 185, 125);
}

h1 {
    font-size: 72px;
}

.header {
    background-color: rgb(208, 124, 43);
    color: black;
}

.intro_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}